body{
  background-image: url("https://wallpapermemory.com/uploads/470/dice-background-hd-1440x900-423186.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.game{
  display: none;
}
.instructions, .card{
  background-color: rgb(102, 128, 170, 0.6);
}
#hold1, #hold2{
  float: right;
}
img{
  margin-left: 25%;
}
