body{
  background-image: url("https://wallpapermemory.com/uploads/470/dice-background-hd-1440x900-423186.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.game{
  display: none;
}
.instructions, .card{
  background-color: rgba(102, 128, 170, 0.6);
}
#head, .card-header{
  font-family: 'Kreon', serif;
}
#hold1, #hold2{
  float: right;
}
img{
  margin-left: 25%;
}
#rules{
  font-family: 'Courgette', cursive;
}
label, .card-body{
  font-family: 'Advent Pro', sans-serif;
}
button, .card-footer{
  font-family: 'Coda', cursive;
}
.not-your-turn{
  background-color: rgba(102, 128, 170, 0.2);
  opacity: 0.2;
}
